@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header, footer{
    background-color: black;
}

header h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 10vw;
    font-weight: bold;
}

footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--fonte1);
    color: white;
    text-align: center;
}

header p {
    font-family: var(--fonte1);
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1em;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

div p {
    font-family: var(--fonte3);
    font-size: 2em;
    position: relative;
    top: 10%;
}

div {
    line-height: 2em;
    padding: 50px 0px 50px 25px;
}

div.tem-imagem p {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    padding: 5px;
    display: inline-block;
}

div#girasol {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#livro {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p.segundo-verso {
    margin: 50px 0px 50px 0px;
}