body {
    background-color: #141414;
    color: white;
    margin: 0;
}

div.container {
    position: relative;
    margin-top: calc(50vh - 150px);
    height: 235px;
    width: 100vw;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2.5px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

/*AREA DE TESTES*/

div.genero {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;/*so mudar a imagem de cada div usando id e mudando sua url*/
    border-radius: 15px;
    border: 2px solid #00000000;
    max-width: 165px;
    max-height: 165px;
    width: 15vw;
    height: 15vw;
    transform: translate(-50%, -50%);
    top: 60%;
}

div#primeira {
    background-image: url(https://occ-0-110-185.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABRPNoD8yQsHm0N4pQYc8hXMYKGNfeU0b-LaIGrqIwS2vbc0vmxvOwUgM9gN6MgCvo2SqX8vb76adyQFyt6HmAm__WLN8Qd3O6rJZ.png?r=bba);
    left: 27%;
}

div#segunda {
    background-image: url(https://occ-0-110-185.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABbsTN5kEwNQNR-4yqEfUhML0a3XGFKVFA8OgfHj54BSy0V7fREshbDcGE2_O3tutFi5sIeFQ8YQPgIlAP9_oK55VYTGk_evxFykK.png?r=ff8);
    left: 44%;
}

div#terceira {
    background-image: url(https://occ-0-110-185.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABagvNx6UrGV6MCX6Ma40iKKbSge5kM6ZvvuqKcoJNyOnQ5HIlRF3sOIZCZ2Bt_xGQTjGjtnTiBCpx3jx-nPP80I4F1Is6NSrBUOz.png?r=558);
    left: 61%;
}

div#quarta {
    background-image: url(https://occ-0-110-185.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABb9QgWa60sthoE78yJWn0lowWvGrQL_dI04plIvfpOKVXgw-IEc66W9PmWcKYXxN8cqBg75tfhIJtoFdmgZUoxcjgkj8Injecj8n.png?r=cad);
    left: 78%;
}

/*AREA DE TESTES*/

div.genero:hover {
    border: 3px solid #ffffff;
}

div.genero > p {
    text-align: center;
    margin-top: 110%; /*aumentar ou diminuir para deixar a escrita em cima ou em baixo (use dev tools)*/
    color: #c2c2c28c;
}

@media (max-width: 699px){
   
    div.container {
        position: relative;
        margin-top: calc(30vh - 150px);
        height: 235px;
        width: 100vw;
    }

    div.genero {
        width: 150px;
        height: 150px;
    }

    div#primeira {
        top: 60%;
        left: 36%;       
    }
    
    div#segunda {
        top: 60%;
        left: 64%;
    }
    
    div#terceira {
        top: 145%;
        left: 36%;
    }
    
    div#quarta {
        top: 145%;
        left: 64%;
    }
}

@media (max-width: 549px) {
    div.container {
        position: relative;
        margin-top: calc(30vh - 150px);
        height: 235px;
        width: 100vw;
    }

    div.genero {
        width: 150px;
        height: 150px;
    }

    div#primeira {
        top: 75%;
        left: 50%;       
    }
    
    div#segunda {
        top: 160%;
        left: 50%;
    }
    
    div#terceira {
        top: 245%;
        left: 50%;
    }
    
    div#quarta {
        top: 330%;
        left: 50%;
    }
}

/*comeco da segunda pagina ainda nao sei se vou precisar criar outro arquivo*/

img {
    display: inline-block;
    width: 23vw;
    margin: 10px;
}

div.filmes {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1099px) {
    img {
        display: block;
        width: 180px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}